In [1]:
import pandas as pd
import numpy as np

In [7]:
latlong = pd.read_csv('../data/initial_data_urban_area.csv')
latlong = latlong[['UANUM','Latitude','Longitude']]
latlong.head()

   UANUM   Latitude  Longitude
0     37  29.974444 -92.134167
1     64  34.178056 -82.379167
2     91  44.946389 -90.315833
3    199  39.519347 -76.185598
4    118  33.825000 -88.543611

In [8]:
ad = pd.read_csv('../data/urban_rates.csv')
ad.head()

   UANUM                                      UANAME    4 Week Rate
0     37                               Abbeville, LA   16190.000000
1     64                               Abbeville, SC    2625.000000
2     91                              Abbotsford, WI    1852.142857
3    199  Aberdeen--Bel Air South--Bel Air North, MD  122361.312500
4    118                                Aberdeen, MS    4601.500000

In [6]:
print len(latlong)
print len(ad)

3592
3592

In [9]:
df = pd.merge(ad,latlong,on='UANUM',how='inner')
df.head()

,UANUM,UANAME,4 Week Rate,Latitude,Longitude
0,37,"Abbeville, LA",16190.000000,29.974444,-92.134167
1,64,"Abbeville, SC",2625.000000,34.178056,-82.379167
2,91,"Abbotsford, WI",1852.142857,44.946389,-90.315833
3,199,"Aberdeen--Bel Air South--Bel Air North, MD",122361.312500,39.519347,-76.185598
4,118,"Aberdeen, MS",4601.500000,33.825000,-88.543611

In [10]:
len(df)

3592

In [12]:
df.to_csv('../data/ua_adrate_latlong.csv',index=False)

In [23]:
model = pd.read_csv('../data/merged_model_predicted_10_covariates_diff_count_peopleperstation_and_initial_urban_data.csv')
model['PredictedStationsPerHousehold'] = 1.*model.PredictedStationCount/model.Households
model = model[['UANUM','PredictedStationCount','DiffPredictActual','PredictedPeoplePerStation','Population','PredictedStationsPerHousehold']]
model.head()

,UANUM,PredictedStationCount,DiffPredictActual,PredictedPeoplePerStation,Population,PredictedStationsPerHousehold
0,63217,442.02,40.02,0.099305,18351295,0.000067
1,51445,619.76,-215.24,-0.257464,12150996,0.000156
2,16264,305.90,-42.10,-0.120630,8608208,0.000098
3,56602,262.40,113.40,0.756000,5502379,0.000131
4,69076,182.50,19.50,0.118902,5441567,0.000090

In [24]:
len(model)

3590

In [25]:
df2 = pd.merge(df,model,on='UANUM',how='inner')
df2.head()

,UANUM,UANAME,4 Week Rate,Latitude,Longitude,PredictedStationCount,DiffPredictActual,PredictedPeoplePerStation,Population,PredictedStationsPerHousehold
0,37,"Abbeville, LA",16190.000000,29.974444,-92.134167,0.68,0.68,0.680000,19824,0.000090
1,64,"Abbeville, SC",2625.000000,34.178056,-82.379167,0.00,0.00,0.000000,5243,0.000000
2,91,"Abbotsford, WI",1852.142857,44.946389,-90.315833,0.00,0.00,0.000000,3966,0.000000
3,199,"Aberdeen--Bel Air South--Bel Air North, MD",122361.312500,39.519347,-76.185598,12.34,0.34,0.026154,213751,0.000155
4,118,"Aberdeen, MS",4601.500000,33.825000,-88.543611,0.04,0.04,0.040000,4666,0.000022

In [19]:
len(df2)

3590

In [26]:
df2.to_csv('../data/ua_adrate_latlong_predictedmodel.csv',index=False)